
    <footer>
        <hr class="line1">
        <div class="footer">
            <div class="licence">
                Copyrigth &copy; 2022 Chanakya club| All Rights Reserved
            </div>
            <div class="social_links">
                <ul>
                    <li><a href="#"><i class='bx bxl-instagram-alt'></i></a></li>
                    <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
                    <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
                </ul>
            </div>

            <div class="nav_links">
                <ul>
                    <li><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">content</a></li>
                    <li><a href="#">vision</a></li>
                </ul>
            </div>
        </div>
    </footer>
