<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chanakya Public Policy Club</title>
</head>

<body style="margin: 5px;padding:20px;background-color:rgb(248, 239, 239)">
    <h1 style="text-align: center;">Chanakya Public Policy Club</h1>
    <div class="para_1">
        <!-- <p>Here we request in this draft to formalise the hobby group <b>v-tok-sens</b> as a club under
            <b>“Academic Council, Students Gymkhana, IIT Indore”</b> with the new name of
            <b><i>“Chanakya Public Policy Club”</i></b>
        </p> -->
        <p>This club is formed out of an old hobby group <b>v-tok-sens (We Talk Sense)</b>
            which came into existence on <b>August 2020</b> as part of the
        </p>
        <i>Expression of the budding intellects in designing policy for the unheard
        </i>
        <br>
        <b><i>(The platform you wished for).
            </i></b>
    </div>
    <br>
<!-- 
    <div class="para_2">
         <p>
            The President of Gymkhana for the year (2020-21) was aware of this hobby group. Few
            activities were conducted by this hobby group with 12 members actively participating in it.
            Few of the activities that were organised were:
        </p>
        <ol type="a">
            <li>Energy and Environmental Presentations (Aug - Dec 2020) </li>
            <li>Debates on popular reforms by the Government and its impact on our resources (Dec
                2020 – May 2021) </li>
            <li>Discussions on latest technological trends and acceptance (Sep 2020 – Mar 2021)
            </li>
        </ol>
        <p>
            One of the marathon discussions this group had on an interesting topic - An analytical review
            of Healthcare and Security in the era of Bioweapons from a Scientist Perspective. The
            discussions in the group have always been data based and with specific significant issues that
            have impact on lives of a Bhartiya citizen.
        </p>  -->
        <br>
        <p style="text-align: center;">Previous theme: <b> वयम् विवदते अर्थवत् </b><br>
            [ Vayam Vivadatey Arthavatt] -<b>translates to We Talk Sense</b>
        </p>
        <p>New theme:<b>Developing Awareness, Character, and Unity via thorough analysis of
            policies with Scientific Innovation and Research </b>
        <br>
    </p>
        <!-- <br>
        <p>
            The group’s membership was mostly concentrated to master’s and PhD students of BSBE
            department and few other PhD scholars from other departments. Since many of the masters and
            PhD students passed out, the group had a reduction in strength.
            Now to again reorganise this group, spread awareness to other students of IIT Indore and
            develop the habit of good research and literature review as well as get their most valuable
            participation. This group is now requested to be floated as an Official Club and named as
            <b>“Chanakya Public Policy Club”.</b>
        </p> -->
    </div>
    <br>

    <div class="para_3">
        <h3>Following is the structure and working of the club:</h3>
        <img src="./IMG-20211229-WA0012.jpg" alt="image attached" width="100%">
       
        <p>The Constitution and Rules of <b>“Chanakya Public Policy Club”</b> </p>
    </div>
    <br>

    <div class="title">
        <h2>1.Title</h2>
        <p>
            The Chanakya Public Policy Club (CPPC) will be a think tank dedicated to extensive and indepth research on
            current economic, social, and political issues. It will be working for policy
            development support to the nation through the guidance of present nation builders for adding
            up on the strategic front of the nation.
        </p>
        <br>
        <p>
            The club will be covering these substantial topics with an approach of an innovator
        </p>
        <ul>
            <li>Economic Development </li>
            <li>Internal and External Security</li>
            <li>International Environmental Law</li>
            <li>International Environmental Law</li>
            <li>Law and Society</li>
            <li>Legislative Research</li>
            <li>Political Economy and Governance</li>
            <li>Service Delivery</li>
            <li>Urbanization and Infrastructure</li>
        </ul>

        <b>Importance of policy analysis and research</b>
        <p>
            Policy at any level is the set of government directives intended to shape the decisions and
            actions of individuals, organizations, and government agencies. As such, the policy can be
            established by legislation, executive orders, judicial rulings, guidelines and regulations,
            rulemaking, agency memos, signing statements, agency circulars, and other types of official
            statements. Different agencies often create incompatible, redundant, or conflicting information
            policies.
        </p>
        <p>
            In a time of tight government budgets, donors and clients want to know whether the research
            they fund makes any difference to public policy choices and, ultimately, to people’s lives. Yet
            the methodologies for evaluating the impact of social science research on policy choices and
            policy outcomes are not well-developed. The complexity of the policy process and the general
            nature of much policy research makes it difficult to attribute policy decisions or policy
            outcomes to specific research findings.

        </p>
        <p>
            'Research' is defined in many places, but a very general description involves work carried out
            to answer specific issues and questions, or widen understanding, or add to the body of
            knowledge.

        </p>
        <p>
            Information policy research is a critical tool in the arsenal of library and information science
            researchers. As developments occur in information access, use, technology, and management,
            information policies require more attention and research.
        </p>
        <p>
            Policy research can have a significant impact on policymaking, just not necessarily on discrete
            choices nor in the linear sequence that researchers and donors would like to see. Generally,
            Policymakers frequently use research less to dictate specific solutions than to help them think
            about issues and define the scope of problems and possible responses. Thus, research
            information provides a diffuse ‘enlightenment’ function, providing an understanding and
            interpretation of the data and the situation that is critical to the policy decision.
        </p>
        <p>
            Policy analysis plays an important role in helping to define and outline the goals of a proposed
            policy and in identifying similarities and differences in expected outcomes and estimated costs
            with competing for alternative policies. Many public policies are designed to solve both current
            and future problems, and thus policy analysis attempts to forecast future needs based on past
            and present conditions. Policy outcomes can be found in a variety of different forms—tangible
            outputs and less-tangible outputs for which the impacts are more difficult to measure. In many
            cases, it is difficult to determine if the policy itself resulted in desired change or if other
            exogenous or external factors were the most direct cause. Nevertheless, it is important to
            determine if a policy is responsible for the desired change; otherwise, there would be no need
            for the policy.
        </p>
        <p>
            The differences between textbook-based policy research and how policy research might be
            implemented should be discussed, as is the inter-connectedness of information policies and
            ways to describe impacts of information policies. Researchers and professionals should be
            giving attention to using policy research on a day-to-day basis.
        </p>

        <b>Vision</b>
        <p>
            Our central vision is to increase the awareness of policy research and the impacts of policy in
            the IITI community specifically and in the country in general. Further, our vision is to provide
            research internships, ground-level surveys, and field analysis for developing the required skills
            to the interested students. They should understand the practical component of the application
            part of their attained knowledge as much as they are aware theoretically.

        </p>
        <p>
            The club will be presenting problem statements to work upon and providing the ethical
            solutions with connective brainstorming with the help of human resources of students from
            interdisciplinary fields. The objectives of CPPC are to develop substantive policy options on
            matters relevant to the Indian polity, economy, and society; to provide advisory services to
            governments, public bodies, and other institutions; and to disseminate information on policy
            issues through various channels. The governing board of CPPC expects formal guidance from
            various public figures from the Indian government, academia, and industry to carry on this club
            in IIT Indore.

        </p>
        <p>
            The Club was previously titled: “Virtually Theorized Organisational Knowledge for
            Sustainably and Empathetically Nourishing Strategies” has worked on fruitful discussions that
            the club had on a few burning scientific and current issues and has come up with innovative
            ideas. Now, these ideas are in search of some good ground-level work.
        </p>
    </div>
    <br>

    <div class="Aims_and_Objectives">
        <h2>2. Aims and Objectives </h2>
        <ol type="A">
            <li>To preserve the integrity of the right science and right technology while following
                research ethics that is beneficial for all. </li>
            <li>To develop an environment suitable for preparation and excel in examinations like Civil
                Services, and other renowned exams.</li>
            <li>To simplify topics of natural and national interest and provide localized solutions to
                them with emphasis on policy research</li>
            <li>To investigate and create in-depth knowledge and avoid biased influencing of reports
                in name of development and standard of living.</li>
            <li>To promote the conservation of wildlife and their habitats and learn how they are
                impacted by our acts.
            </li>
            <li>The club is needed and will exist till we do not have the right indigenous awareness
                among so believed intellectual masses and a new class of policy leaders.
            </li>
            <li>Development and implementation of interdisciplinary technologies including emerging
                technologies such as advanced communication systems, AI and ML, Data Analytics,
                Robotics, Internet of Things, Sensors, Networking, Cyber Security, Augmented and
                Virtual reality, and other curious things as well.
            </li>
        </ol>
    </div>
    <br>

    <div class="Why_choose_to_be_a_part">
        <h2>3. Why choose to be a part</h2>
        <ol type="A">
            <li>
                <p>To be aware and prepare for the burning issues as well as hidden motives of the major
                    decisions and policies.
                </p>
                <p>
                    Principal key broad topics of Policy Research will be at the beginning of the club and will
                    be increased with time and requirement
                </p>
                <ol type="i">
                    <li>Agriculture</li>
                    <li>Defence</li>
                    <li> Economy </li>
                    <li>Education</li>
                    <li>Finance</li>
                    <li>Foreign relations</li>
                    <li>. Futuristic Technologies </li>
                    <li>Health</li>
                    <li>Infrastructure</li>
                    <li>Nuclear Technology </li>
                    <li>Railway</li>
                    <li>Security </li>
                    <li>Social Justice</li>
                    <li>Technical Education</li>
                </ol>
            </li>
            <li>
                <p> It offers a better intellectual alternative and will have subgroups like </p>
                <ol type="i">
                    <li>Wild flock for environmental tasks and natural solutions
                    </li>
                    <li> Knowledge bunch with practical knowhow and quizzes</li>
                    <li> Fabrication guild for promoting indigenous scientific designs and creativity</li>
                    <li> Parleys for rebellious debates to decide on future policies
                    </li>
                    <li>Snap shooters for capturing realistic and research-oriented clicks and
                        documentaries</li>
                    <li>Bharat United Front for integrity beyond differences and learning things from
                        firsthand Indian perspective rather than western or foreign opinion. </li>
                    <li> Melodious fraternity for grasping the essence of music in and around us for
                        traditional art like skills- for analyzing the importance of indigenous music </li>
                    <li> Expressive dance breeds with powerful messages and dramatic approaches for
                        realizing indigenous cultural trends- for analyzing the importance of traditional
                        dance forms
                    </li>
                </ol>
            </li>
        </ol>
        <br>

        <b>National Importance:</b>
        <p>
            The Government of India has always appreciated the work of policy developers and policy
            researchers. A few of the Think tanks and Research Organizations in India as of 18th Nov. 2021
            are as following which can be our inspiration in our work:
        <ol type="i">
            <li>The Institute for Defence Studies and Analyses (IDSA) </li>
            <li>Indian Council for Research on International Economic Relations (ICRIER)</li>
            <li>Observer Research Foundation (ORF)</li>
            <li> Centre for Policy Research (CPR) </li>
            <li>Gateway House: Indian Council on Global Relations</li>
            <li>Dialogue India</li>
            <li>Council on Energy, Environment and Water (CEEW)</li>
            <li>Research and Information System for Developing Countries (RIS)</li>
            <li>The United Service Institution of India (USII)</li>
            <li>National Maritime Foundation (NMF)</li>
            <li>Centre for Land Warfare Studies (CLAWS)</li>
            <li>Centre for the Study of Developing Societies (CSDS)</li>
            <li>Institute of Peace and Conflict Studies (IPCS)</li>
            <li>The Energy and Resources Institute (TERI) </li>
            <li>Ashoka Trust for Research in Ecology and the Environment (ATREE)</li>
            <li>Institute of Economic Growth (IEG)</li>
            <li>Telecom Centres of Excellence (TCOE)</li>
            <li>Development Alternatives, India</li>
            <li>Common Cause, India </li>
        </ol>
        </p>

        <br>
        <table style="border-collapse: collapse;width:80vw;text-align:center">
            <caption style="padding:5px"><b>Five Indian Think Tank among top 100</b></caption>
            <tr style="background-color: yellow;">
                <th>World Rank</th>
                <th>Think Tank Name</th>
            </tr>
            <tr style="background-color: aqua;">
                <td>05</td>
                <td>Observer Research Foundation(ORF)</td>
            </tr>
            <tr style="background-color: violet;">
                <td>09</td>
                <td>Dialogue India</td>
            </tr>
            <tr style="background-color: aqua;">
                <td>23</td>
                <td>Institute for Defence Studies and Analyses(IDSA)</td>
            </tr>
            <tr style="background-color: violet;">
                <td>47</td>
                <td>Gateway House: India Counsil on Global Relations</td>
            </tr>
            <tr style="background-color: aqua;">
                <td>61</td>
                <td>Council on Energy,Environment and Water(CEEW)</td>
            </tr>
            <caption style="caption-side: bottom; padding:5px"><b>Source: Global Go-To Think Tank Index 2020 by University
                of Pennsylvania</b></caption>

        </table>
        <br>

        <b>Indigenous Strategic Policy Research</b>
        <ul>
            <li>to discuss the results of projects focusing on Indigenous education, employment, and
                health, as well as the state of the data landscape relative to nation. </li>
            <li> To close the gap between Indigenous Bharat and West leaning India in prosperity
                perspectives.
            </li>
            <li>Focus on indigenous technology, science, arts, sports, and other fields. </li>
            <li> To decolonize our research sensibility and our thinking of traditional knowledge or
                Indigenous cultural heritage</li>
        </ul>
        <br>

        <b>“Ethics,” “respect,” “collaboration,” and “strength” </b>
        <br>

        <p>
            It is a timely step for the IIT Indore student gymkhana to take this pioneering initiative by
            establishing the first-of-its-kind policy research student club at IIT Indore with a keen focus on
            indigenization. What we will be doing as an added work is providing solutions at our level with
            our innovative mindset after analysing the policy.
        </p>

        <b>Proposed activities in the first year:</b>
        <ol type="i">
            <li>Organizing awareness via renowned intellectuals through Talks/ Workshops </li>
            <li>Organizing students’ competitions and presentations on analytical skills
            </li>
            <li>Executing time-bound projects and case studies</li>
            <li>Developing indigenous solutions and doing innovations</li>
            <li>Presentations and Debates on important policies and their impact assessment
            </li>
            <li>Discussions on technological trends and analytical reviews with facts and proper
                data </li>
            <li> Research internships in the field of interests of students for policy design
            </li>
        </ol>
        <p>
            The club activities shall inculcate an incisive understanding of the Indian context and hone
            globally relevant skills to achieve international standards of competencies through its
            immersive, rigorous, and interdisciplinary programs and activities.
        </p>
        <br>
        <p>
            Funds requested from the institute: Nil
            <br>
            <br>
            The preliminary interest was shown in the following topics from some of the students for this
            club:
        <ol type="i">
            <li>Defence</li>
            <li>Economy</li>
            <li>Education</li>
            <li>Finance</li>
            <li>Foreign relations</li>
            <li>Futuristic Technologies </li>
            <li>Health </li>
            <li>Infrastructure</li>
            <li>Security</li>
            <li>Social Justice</li>
        </ol>

        </p>
    </div>
    <br>

    <div class="Qualification_for_Membership">
        <h2>4. Qualification for Membership:</h2>
        <ol type="A">
            <li>Membership shall be offered but not confined to persons either currently residing or
                drawing their livelihood or if previously connected to the IIT Indore Campus.
                Membership will be made global soon. </li>
            <li>All membership applications must be made in the mail to the Club Secretary Mail id
                (given at the end) giving the names of the applicant and his expected idea too.
            </li>
        </ol>
    </div>
    <br>

    <div class="Heads_of_the_Club">
        <h2>5. Heads of the Club</h2>
        <p>
            Heads shall be elected at the Annual General Meeting of the Club and shall hold office for one
            year. All Heads shall be eligible for re-election. The Club may appoint other Heads for better
            internal functioning from time to time and under terms it considers appropriate.
            <br><br>
            5. A. Founding Members (15th August 2020)
        <ol type="i">
            <li>Rahul Chauhan (Ph.D. BSBE 3RD year) </li>
            <li>Vishal Kaushik (Ph.D. EE 5th year) </li>
        </ol>
        5. B. More Members- 15 in no. (as of 18th November 2021)
        </p>
    </div>
    <br>

    <div class="Committees">
        <h2>6. Committees</h2>
        <p>
            The Club may at its Annual General Meeting elect Working Committees which shall operate
            under such terms as the Club may from time to time determine. The number of members of
            any Committee and its composition shall be determined by the Club but shall include all elected
            Officers of the Club. The Club may also appoint Sub-Committees as it may deem necessary.
            The Club shall also, at its Annual General Meeting, elect a Disciplinary Board which shall be
            comprised of three persons, and which shall deal with any disciplinary matters which arise in
            accordance.
        </p>
    </div>
    <br>

    <div class="Affiliation">
        <h2>7. Affiliation</h2>
        <p>
            The Club shall affiliate as a member club of Student Gymkhana IIT Indore for time being till
            gets its <b>autonomous stature</b>
        </p>
    </div>
    <br>
<!-- 
    <div class="Functional_Fund">
        <h2>8. Functional Fund</h2>
        <p>
            Will be decided later for activities. The present requirement of funds is nil and will be informed
            to the gymkhana as per need.
        </p>
    </div> -->
    <br>

    <div class="Rules_of_the_Club ">
        <h2>9. Rules of the Club </h2>
        <!-- <b>Rule 1 – Membership (It's currency free and just content-based):</b>
        <p>
            Each Member shall be required to present their idea. Membership IDs will be cloth-based and
            will be designed soon with member suggestions.
            <br><br>
            Rest membership rules with a sustainable base will be decided later
            <br><br>
            Any Member found to be in breach of these rules or held to have behaved in a manner damaging
            to the interests of the Club shall be admonished, suspended, fined, expelled, or be the subject
            of such other penalty as the Club considers fit.
            <br><br>
            The Club shall be entitled to adopt such further rules as it may deem necessary to fulfil its aims
            and objectives provided however that such rules are not contrary to Laws or contrary to the
            Constitution.
            <br><br>
            A Special General Meeting may also be convened at the written request of at least one-third of
            the Club's Members. No special meeting of the Club shall be convened without Club Members
            receiving at least 48 hours' notice.
        </p>

        <b>Rule 2 – Finance </b>
        <p>YET TO BE DECIDED</p>

        <b>Rule 3 – Voting </b>
        <p>Each Member shall be entitled to a single vote in Club elections. Elections may be by secret
            ballot. </p>

        <h3>Honorary Secretary</h3>
        <p>
            The Honorary Secretary shall convene all meetings of the Club, its Committees, or subCommittees at times
            and venues shall be determined by these bodies. The Honorary Secretary
            shall prepare an Agenda of all business to be submitted for discussion and to be dealt with at
            each meeting of the Club. The Honorary Secretary shall maintain proper and adequate minutes
            of all such meetings and shall submit such minutes for approval at the next succeeding meeting.
            The Honorary Secretary shall also maintain a proper record of the names of Members who
            attend Club meetings along with any other official records of the Club and the Honorary
            Secretary shall be responsible for the Club's official correspondence.
        </p>
        <b>Rule 4 – Amendment of Constitution:</b>
        <p>
            Only the Annual General Meeting of the Club or a Special General Meeting shall have the
            power to alter or amend this Constitution and Rules. Any proposed alteration or amendment to
            this Constitution and Rules shall be submitted in writing to the Honorary Secretary not less
            than 28 days in advance of the Annual General Meeting or Special General Meeting of the
            Club. Any alteration or amendment to this Constitution and Rules will require to be carried by
            a two-thirds majority of all accredited members present.
        </p> -->
    </div>
    <br>

    <div class="Closing_note">
        <p>
            The Chanakya Public Policy Club shall prepare policy leaders with skills, wisdom, and ethics
            to imagine, design, and implement relevant solutions to India's policy and governance
            challenges. The Club shall focus on the design and management of public policy and initiate
            new discussions, debates, discoveries, and developments that shall further offer the scope to
            our members to explore their capabilities to make a meaningful impact.
            <br><br>
            Chanakya Public Policy Club is for is for those who wish to make a difference. We're
            committed to changing our society one step at a time and the club is designed by the leaders
            for the leaders will help you make this vision a reality. If you think you're someone who
            wants to contribute to a more just and sustainable world through service, scholarship, and
            community partnership, then Chanakya Public Policy Club is the place for you.
        </p>
    </div>
</body>

     <h1 style="text-align: center;">Thank You</h1>

</html>